Se importan las bibliotecas necesarias.
Se carga el dataset para poder hacer un tratamiento de datos.

In [1]:
import pandas as pd
df = pd.read_csv("diabetes_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

Traducimos los nombres de las columnas de la tabla

In [2]:
df.columns = ["Genero", "Edad", "Hipertencion", "Cardiopatia", "Historial_fumador", "IMC", "Nivel_HnA1c", "Glucosa_en_sangre", "Diabetes"]
df

,Genero,Edad,Hipertencion,Cardiopatia,Historial_fumador,IMC,Nivel_HnA1c,Glucosa_en_sangre,Diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

Se eliminan las filas que no contienen informacion sobre su historial de fumadores

In [3]:
df = df[df["Historial_fumador"] != "No Info"]
df

,Genero,Edad,Hipertencion,Cardiopatia,Historial_fumador,IMC,Nivel_HnA1c,Glucosa_en_sangre,Diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
5,Female,20.0,0,0,never,27.32,6.6,85,0
...,...,...,...,...,...,...,...,...,...
99992,Female,26.0,0,0,never,34.34,6.5,160,0
99993,Female,40.0,0,0,never,40.69,3.5,155,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

Ahora eliminaremos el indice anterior y se creara uno nuevo de forma ascendente

In [4]:
df = df.reset_index(drop=True)
df

,Genero,Edad,Hipertencion,Cardiopatia,Historial_fumador,IMC,Nivel_HnA1c,Glucosa_en_sangre,Diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Male,28.0,0,0,never,27.32,5.7,158,0
2,Female,36.0,0,0,current,23.45,5.0,155,0
3,Male,76.0,1,1,current,20.14,4.8,155,0
4,Female,20.0,0,0,never,27.32,6.6,85,0
...,...,...,...,...,...,...,...,...,...
64179,Female,26.0,0,0,never,34.34,6.5,160,0
64180,Female,40.0,0,0,never,40.69,3.5,155,0
64181,Male,66.0,0,0,former,27.83,5.7,155,0
64182,Female,24.0,0,0,never,35.42,4.0,100,0
64183,Female,57.0,0,0,current,22.43,6.6,90,0

Traduciremos los strings del dataset para una mejor compresion de los datos.

In [5]:
df["Genero"] = df["Genero"].replace({"Male": "Masculino", "Female": "Femenino"})
df["Historial_fumador"] = df["Historial_fumador"].replace({"never": "Nunca", "current": "Actualmente", "former": "Anteriormente"})
df

,Genero,Edad,Hipertencion,Cardiopatia,Historial_fumador,IMC,Nivel_HnA1c,Glucosa_en_sangre,Diabetes
0,Femenino,80.0,0,1,Nunca,25.19,6.6,140,0
1,Masculino,28.0,0,0,Nunca,27.32,5.7,158,0
2,Femenino,36.0,0,0,Actualmente,23.45,5.0,155,0
3,Masculino,76.0,1,1,Actualmente,20.14,4.8,155,0
4,Femenino,20.0,0,0,Nunca,27.32,6.6,85,0
...,...,...,...,...,...,...,...,...,...
64179,Femenino,26.0,0,0,Nunca,34.34,6.5,160,0
64180,Femenino,40.0,0,0,Nunca,40.69,3.5,155,0
64181,Masculino,66.0,0,0,Anteriormente,27.83,5.7,155,0
64182,Femenino,24.0,0,0,Nunca,35.42,4.0,100,0
64183,Femenino,57.0,0,0,Actualmente,22.43,6.6,90,0

Utilizaremos Searborn para crear una grafica de la columna "Genero" para mostrar la diferencia entre mujeres y hombres con respecto a la diabetes.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")
plt.figure(figsize=(10, 10))